@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

*{
    box-sizing: border-box;
}
body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
